:root{
  --color: #003366;
  --darkcolor: #003366;
  --bgcolor: #003366;
  --headercolor: white;
  --frame: #e4ebf2;
}
.hr-filter{
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #d4d4d4;
  height: 3px;
  border: 0;
}
.h5-filter{
  font-size: 16px;
}
.filter-label{
  float: right;
  color: #a3a3a3;
  font-size: 13px;
}
.control_label{
  font-size: 13px;
  padding: 0px;
}
#map_size_radio_items, #interval_radio_items {
  display: grid;
}
.rc-slider-tooltip-inner {
    padding: 1px 0px;
    max-height: 10px;
    min-width: 20px;
    font-size: 8px;
    background-color: #6c6c6c;
    border-radius: 3px;
}
.rc-slider-track {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 6px;
    background-color: #abe2fb;
}
/* filter country selection*/
.Select--multi .Select-value {
  background-color:  var(--color);
  color:  white;
  border-color: var(--color);
}
.Select--multi .Select-value-icon{
  border-right: white;
}
.Select--multi .Select-value-label {
    padding: 1px 1px;
    display: unset;
}
.Select--multi .Select-value {
  font-size: 12px;
  margin: 1px;
  padding-right: 2px;
}
.sc-bdVaJa .fggUDs {
  background-color: var(--color);
}

.KqvBn{
  background: none;
}
rect .bg{
 margin: 30px;
}
/* Filter sliders */
.rc-slider-track {
  background-color: var(--color);
}
.rc-slider-dot-active {
  border-color: var(--color);
}
.rc-slider-handle {
  background-color: var(--color);
  border-color: var(--color);
}
.rc.slider-handle:hover {
  border-color: orange;
}
.rc.slider-handle-active:active {
  border-color: var(--darkcolor);
}
.pretty_container {
    background-color: var(--frame);
    border-radius: 5px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}
.Select div{
    background-color: var(--frame);
}
html{
    background-color: var(--bgcolor);
    padding-bottom: 70px;
}
h1,h3, .switch_label{
  color: var(--headercolor);
}
#react-entry-point{
  background-color: var(--bgcolor);
}
@media only screen and (min-width: 1200px) {
  #mainContainer{
    padding-left: 10%;
    padding-right: 10%;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
